{% extends 'review/base.html' %}
{% load static %}

{% block content %}
    <div class="container">
        <div class="row">
            <!-- Begin Post -->
            <div class="col-md-8 col-md-offset-2 col-xs-12">
                <div class="mainheading">

                    <!-- Begin Top Meta -->
                    <div class="row post-top-meta">
                        <div class="col-md-2">
                            <a href="author.html"><img class="author-thumb" src="https://www.gravatar.com/avatar/e56154546cf4be74e393c62d1ae9f9d4?s=250&amp;d=mm&amp;r=x" alt="Sal"></a>
                        </div>
                        <div class="col-md-10">
                            <a class="link-dark" href="author.html">Sal</a><a href="#" class="btn follow">Follow</a>
                            <span class="author-description">Founder of WowThemes.net and creator of <b>"Mediumish"</b> theme that you're currently previewing. Developing professional premium themes, templates, plugins, scripts since 2012.</span>
                            <span class="post-date">22 July 2017</span><span class="dot"></span><span class="post-read">6 min read</span>
                        </div>
                    </div>
                    <!-- End Top Menta -->

                    <h1 class="posttitle">{{ singlePost.title }}</h1>

                </div>

                <div class="form-group">
                    <img class="featured-image img-fluid" src="{% static 'review/img/demopic/10.jpg' %}" alt="">
                    <p><strong>Giá: </strong></p>
                    <p><strong>Địa chỉ: </strong></p>
                    <p><strong>Điểm: /10</strong></p>
                </div>
                <!-- Begin Post Content -->
                <div class="article-post">
                    <p>{{ singlePost.content }}</p>
                </div>
                <!-- End Post Content -->
            </div>
            <!-- End Post -->

        </div>
    </div>
{% endblock content %}