<nav class="navbar navbar-toggleable-md navbar-light bg-white fixed-top mediumnavigation">
    <button
        class="navbar-toggler navbar-toggler-right"
        type="button"
        data-toggle="collapse"
        data-target="#navbarsExampleDefault"
        aria-controls="navbarsExampleDefault"
        aria-expanded="false"
        aria-label="Toggle navigation"
    >
    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="container">
        <!-- Begin Logo -->
        <a class="navbar-brand" href="{% url 'home' %}">
        <img src="/static/review/img/logo.png" alt="logo">
        </a>
        <!-- End Logo -->
        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <!-- Begin Menu -->
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">
                        Bài viết 
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'create' %}">Tạo bài viết</a>
                </li>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Của tôi</a>
                </li>
            </ul>
            <!-- End Menu -->
        </div>
    </div>
</nav>